ul {
  list-style-type: none;
  padding: 0;
}
a {
  text-decoration: none;
}
a:hover,
a:focus,
a:visited {
  text-decoration: none;
  outline: none;    
}

img{
    max-width: 100%;
    height: auto;
}